/* .containerContactMe {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

.form-control {
  display: flex;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
