.containerNavBar {
  display: flex;
  visibility: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3%;
  height: 60px;
  align-items: center;
}

.iconNavHB {
  margin: 5%;
}

.navBtn {
  margin: 5px;
  text-decoration: none;
  color: black;
}
.navBtn:hover {
  color: blueviolet;
  text-shadow: 0 0 10px red, 0 0 15px silver, 0 0 30px orange;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
