.containerFooter {
  color: white;
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: space-evenly;
}

.iconFooter {
  color: darkblue;
  width: 100px;
  height: 30px;
}

.linkFooter {
  text-decoration: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  text-align: center;
  width: 100px;
  text-align: left;
  border: 0px;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
