.containerAboutMe {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.welcomeBlock {
  width: 80%;
  margin-left: 3%;
}

.reactIcons {
  margin: 5px;
  display: flex;
  width: auto;
  flex-wrap: wrap;
}

.appIcons {
  margin: 5px;
  display: flex;
  width: auto;
  flex-wrap: wrap;
}

.icon {
  height: auto;
  width: auto;
  color: #e80f0f;
}

.profile {
  border-radius: 100%;
  width: 10%;
  margin-left: 4%;
}

.navBar-Container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
