.containerPortfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* .portfolioCard {
} */

.title {
  text-align: center;
}

.code {
  text-align: center;
}

.image {
  max-width: 800px;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
